@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Estate Social System</h1>
    <p class="lead">Create an account and register your estates.</p>
</div>

<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {
            <h2>Estates</h2>
            <div>
                <dl class="dl-horizontal">
                    @foreach (var estate in ViewBag.Estates)
                    {
                        <dt>
                            Estate Name
                        </dt>
                        <dd>
                            <a href="/Estate/Display/@estate.Id">@estate.Name</a>
                        </dd>
                        <dt>
                            Estate Ratings
                        </dt>
                        <dd>
                            @estate.Ratings.Count
                        </dd>
                    }
                </dl>
            </div>
            <h2>Appliances</h2>
            <div>
                @foreach (var appliance in ViewBag.Appliances)
                {
                    <div>
                        <a href="/Appliance/Display/@appliance.Id">@appliance.Name</a>
                    </div>
                }
            </div>
        }
    </div>
</div>