@model IEnumerable<EstateSocialSystem.Data.Models.Estate>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Estate Social System</h1>
    <p class="lead">Create an account and register your estates.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Estate test</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                @foreach (var estate in Model)
                {
                    <div>
                        @estate.Name
                    </div>
                }
            </div>
        }
    </div>
</div>