@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>


@Html.Partial("~/Views/Shared/EditorTemplates/EstateCreateViewModel.cshtml")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

