@model EstateSocialSystem.Web.Areas.Forum.ViewModels.QuestionDisplayViewModel
@{
    ViewBag.Title = Model.Title;
}

<h1>@ViewBag.Title</h1>
<div class="row table-bordered">
    <div>
        @Html.Raw(Model.Content)
    </div>
    <div class="col-md-12">
        Asked by @Model.Author <span class="small">on @Model.CreatedOn</span>
    </div>
    <div class="col-md-12 divider"></div>
</div>

