@{
    ViewBag.Title = "RegisterOptions";
}

<h2 class="text-center">Register Options</h2>
<br />
<br />
<br />
<div class="row">
    <a href="/Account/RegisterRegular">
        <div class="col-md-6">
            <div class="panlen panel-primary">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">
                        Become a Regular User
                    </h3>
                </div>
                <div class="panel-body">
                    <br />
                    <h1 class="text-center">FREEMIUM</h1>
                </div>
            </div>
        </div>
    </a>
    <div class="col-md-6">
        <div class="panlen panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">
                    Become a Manufacturer
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <a href="/Account/RegisterManufacturer">
                            <div class="col-md-12">
                                <div class="panlen panel-primary">
                                    <div class="panel-heading text-center">
                                        <span class="panel-title">
                                            Bronze Membership
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <br />
                                        <h3 class="text-center">Price option 1</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/Account/RegisterManufacturer">
                            <div class="col-md-12">
                                <div class="panlen panel-primary">
                                    <div class="panel-heading text-center">
                                        <span class="panel-title">
                                            Silver Membership
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <br />
                                        <h3 class="text-center">Price option 2</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/Account/RegisterManufacturer">
                            <div class="col-md-12">
                                <div class="panlen panel-primary">
                                    <div class="panel-heading text-center">
                                        <span class="panel-title">
                                            Gold Membership
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <br />
                                        <h3 class="text-center">Price option 3</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
