@{
    ViewBag.Title = "UserProfile";
}

<h2>User Profile</h2>

@Html.Partial("~/Views/Shared/DisplayTemplates/UpdateUserInformation.cshtml");

<p>
    <div class="btn btn-default">
        @Html.ActionLink("Update Account Information", "Update", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
    </div>
    <div class="btn btn-default">
        @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </div>
</p>
