@{
    ViewBag.Title = string.Format("Update appliance {0}", Model.Name);
}

<h2>@ViewBag.Title</h2>

@Html.Partial("~/Views/Shared/EditorTemplates/UpdateApplianceViewModel.cshtml")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}